
@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%; vertical-align: top;}
table{width: 100%; border-collapse: collapse;}
/* button{cusor:pointer;} */

body{font-family: 'Pretendard', sans-serif;
    color:#333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}
.wrap{display: flex; justify-content: center;width: 100%; display: block;background-color: #f5f5f5; }
.inner{width: 100%; max-width:1280px; margin: auto; }



.content-container{
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: column;
}

/* block */
.block{
    display:flex;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 70%;
    max-width: 900px;
    height: 125px;
    margin: 50px auto 0;
}
.pencil_icon img{
    margin-left: 180px;
    width: 105px;
    height: 95px;
}
.block_txt_wrap{
    margin-left: 50px;
    flex-grow: 1;
}
.block_txt{
    font-size: 23px;
    color:#969696;
    
}

.roadmap-href{
    margin-left: auto;
    font-size: 12px;
    color: #969696;
    text-decoration: none;   
    align-self: flex-end; 
    padding-bottom: 3px; 
}

/* contents */
.contents-wr{
    max-width: 880px;
    height: 535px;
    margin: 30px auto 0;
    display: flex;
    gap: 50px;
}

.con1 , .con2{
    width:415px;
    height: 555px;
}  
.con1-block, .con2-block{
    width:415px;
    height: 535px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.tabs{
    display: flex;
    background-color: #11DDB1;
}
.tab1, .tab2{
    flex:auto;
    padding:10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    background-color:#11DDB1;
    
}
.tab1.active, .tab2.active{
    background-color:white;
    color: #38a89d;
    border-radius: 9px 9px 0 0 ;
    z-index: 1;

}

.con1 > p , .con2>p{
    padding-left: 6px; 
    color: #838383; 
    font-size: 17px;
}
.con1-con , .con2-con{
    padding: 20px;
}


/* CONTENTS INNER - HOT 이력서*/
.best{display: flex; margin-top: 30px;}
.pfs{display: block; margin-top: 9px;}
.pfs-best{
    margin: auto;
    height: 170px;
    width: 155px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    text-align: center;
}
.pfs-nbest{
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    height: 62px;
    width: 345px;
    margin: auto;
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
}

.pfs-img-b{
    display: block;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid #11DDB1 1px;
}
.pfs-img{
    margin-left: 20px;
    margin-top: 14px;
    display: flex;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: solid #11DDB1 1px;
}
.pfs-name-b{
    font-weight: bold; 
    padding-top: 10px;
    padding-bottom:6px;
    margin: 0; 
    color: #11DDB1;
    font-size: 14px;
}
.pfs-name{
    margin: auto;
    font-weight: bold;
    color: #737374;
    font-size: 14px;}
.pfs-list{font-size: 13px; margin: auto;}
.pfs-info{padding-bottom: 2px;}
.pfs-list .pfs-list-dots, .pfs-nbest li{list-style:inside; color: #646464;}

.pfs-nbest ul{width: 40%;}
/* CONTENTS INNER - HOT 후기 */
.reviews{
    height: 355px;
    display: block;
    margin-top: 30px;
}
.rvw-box{
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    margin: auto;
    margin-top: 18px;
    height: 110px;
    width: 350px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 18px;
}
.rvw-txt{
    text-align: left;
}
.rvw-img{
    margin-right: 10px;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid #AFAFAF ;
}
#activity .rvw-img{
    border: none;
}
.box-title{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #11DDB1;

}
.box-txt{
    color: #BEBEBE;
    font-size: 12px;
    padding-top: 7px;
}

/* 공통 */
.best-img{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 67px;
    height: 49px;
}
.likes-count{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: bold;   
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    width: 35px;
    line-height: 20px;
    height: 20px;
}
.btn-to{
    position: absolute;
    bottom: 8px;
    right: 8px;
    height: 18px;
    width: 18px;
}
.pfs-btn-to{
    position: relative;
    height: 18px;
    width: 18px;
    margin: auto;
}
.pfs-btn-to-b{
    position: relative;
    height: 18px;
    width: 18px;
    right: -120px;
    
}
.more{margin-top: 17px;
    display: flex;
    justify-content: flex-end;}
.more a{font-size: 13px; color: #969696;}