
@charset "utf-8";

/* Basic Reset */
* {margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
table{width: 100%; border-collapse: collapse;}


/* Header Styling */
header {
    margin:auto;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 65px 0 125px;
    padding: 31px 0 0 0;
}
.logo-section {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px;
    margin-right: 8px;
}

.search-section {
    width: 880px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    flex: 1;
    margin: 0 70px 0 30px;
}

.search-section input {
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    width: 100%;
    height: 50px;
}

.search-button , .filter-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;

}

.profile-links {
    color: #B3B3B3;
    font-size: 16px;
}

.profile-links a {
    color: #B3B3B3;
    text-decoration: none;
    margin-left: 20px;
}


/* Navigation Links */
.nav-links {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 80px;
    font-size: 16px;
    margin: 5px auto;
}

.nav-links .active {
    font-weight: 700;
    border-bottom: 2px solid #11DDB1;
    padding-bottom: 2px;
    color: #11DDB1;
}

.nav-links .inactive{
    color:#B3B3B3;

}

/* Dropdown Menu Styling */
.dropdown {
    cursor: pointer;
    padding: 13px 45px;
    position: relative;
}


/* 기본 상태 */
.dropdown-content {
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    transform:  translateX(-50%) translateY(-15px);
    visibility: hidden;
    min-width: 200px; 
    transition: all 0.3s ease-in-out;
}


#whiteblock{
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 120px;
    top: 100%;
    transition: all 0.3s ease-in-out;
    display: none;
    border-radius: 18px;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}


.dropdown-content a {
    color: #B3B3B3;
    display: block;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
}

.dropdown-content a:hover{
    color: #11DDB1;
    font-weight: bold;
    transition: max-height 2s ease-in-out;
    
}



/* Centered Content Container */
.content-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}
