@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    vertical-align: top;
}

button {
    cursor: pointer;
}

#wrap {
    width: 100%;
    height: 100%;
    margin: 160px auto 0;
}

.content {
    width: 900px;
    margin: auto;
    display: block;
}

.contentTab{padding-top: 30px; width: 100%; display: block; align-items: center; justify-content: center;}
.tabOptions{justify-items: center; width: 100%;height: 50px; text-align: center; }
.sort-tab{
    margin: 0 5px;
    background: none; 
    border:0;
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid #00e2b4;
    border-radius: 25px;
    color: #00e2b4;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;}

.tabActive{background-color: #00e2b4;
    color: white;
    border-color: #00e2b4;
    box-shadow: 0px 0px 8px 0px #0BDDB0;}

.conHeadWrap{margin-top: 10px; display: flex; width: 100%; justify-content: space-between; height: 30px;}

.sort-options>button {
    background: none;
    border: 0;
}
.conHeadWrap h5{
    font-size: 18px;
    color: #9F9F9F;
    width: 125px;}

.conHeadWrap>.sort-options>button {
    color: #A1A1A1;
    border-right: #A1A1A1 solid 1px;
    padding-right: 7px;
}

.conHeadWrap>.sort-options :last-child {
    border-right: none;
}

.conHeadWrap>.sort-options .btnActive {
    color: #11DDB1;
    font-weight: bold;
}   


/* reviewContainer */
#container {
    display: flex;
    justify-content: center;
    gap: 19px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.reviewCard{
    cursor: pointer;
    display: inline-block;
    width: 880px;
    height: 185px;
    border-radius: 12px;
    align-content: center;
    text-align: center;
    box-shadow: 0px 0px 12px 0px #0000001A;
    position: relative;}
    .reviewCard:first-child{margin-top: 25px;}

